@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

$primary: #e1e1e1;
$primary-text: #232323;

*{
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: -0.3px;
}

a{
    text-decoration: none;
    color: #232323;
}

label{
    font-weight: 500;
    margin-bottom: 0.2em;
}
textarea{
    resize: none;
    min-height: 250px;
}

input, textarea{
    &::placeholder{
        color: $primary;
    }
}

nav{
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid $primary;
    background-color: #fff;

}

footer{
    border-top: 1px solid $primary;
    bottom: 0;
    position: fixed;
    color: $primary-text !important;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}


.search-result{
    cursor: pointer;
    border: 1px solid $primary;
    border-radius: 0.5em;
    p, h5{
        display: flex;
        align-items: center;
        margin-bottom: 0.8em;
        svg{
            margin-right: 0.5em;
        }
    }
}